.flex-container {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

li {
    list-style-type: none;
}

.kartica {
    width: 200px;
    background-color: #024b6b;
    box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    padding: 10px;
}

.three-containers {
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-align: center;


}
